Data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


.idea/


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
